@import "./base.css";

@font-face {
  font-family: 'Vela Sans';
  src: url('./fonts/VelaSans-Regular.ttf')
}

#app {
  max-width: 1600px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;

  font-family: 'Vela Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 132%;
  color: #16191D;
}
